{%  extends 'main.html' %}
{% load extra %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
	$(function () {
		$('#example1').DataTable({
			'paging'      : true,
			'lengthChange': true,
			'searching'   : true,
			'ordering'    : true,
			'info'        : true,
			'autoWidth'   : true
		})
	})
</script>
<body>
	<br>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Total Record</h3>
					</div>
					<div class="box-body">
						<center>
							<a class="btn btn-success" href="{% url 'add_record_sm'  %}">Add new record</a>
						<a class="btn btn-warning" href="{% url 'export_smallmolecule'  %}">Export records</a></center>
						<br>
						<table class="table table-bordered table-condensed table-striped" id="example1">
							<thead class="bg-black">
								<tr>
									<th>Id</th>
									<th>Patient name</th>
									<th>Gender</th>
									<th>Father name</th>
									<th>Patient Aadhar No.</th>
									<th>Date created</th>
									<th>View profile</th>
									<th>Edit profile</th>
									<th>View</th>
									<th>Update</th>
<!--									<th>Delete</th>-->
									<th>QC result</th>
								</tr>
							</thead>
							<tbody>
								{% for i in patient %}
								<tr>
									<!--                            <td>{{forloop.counter}}</td>-->
									<td>{{ i.small_icmr_unique_no }}</td>
									<td>{{ i.small_patient_name }}</td>
									<td>{{ i.small_gender }}</td>
									<td>{{ i.small_father_name }}</td>
									<td>{{ i.small_patient_id_no }}</td>
									<td>{{ i.small_date_created|date:" d-m-Y, " }}{{ i.date_created|time:"H:i" }}</td>
									<td>
										<a class="btn btn-primary" href="{% url 'view_profile_sm' i.id %}">
										View profile</a>
										</td><td>
										<a class="btn bg-maroon" href="{% url 'update_patient_record_sm' i.id %}">
										Edit</a>
									</td>
									<td>
										<a class="btn btn-info" href="{% url 'view_record_sm' i.id %}">View </a>
									</td>
									<td>
										<a class="btn btn-warning" href="{% url 'update_record_sm' i.id %}">Update </a>
									</td>
<!--									<td>-->
<!--										<a class="btn btn-danger" href="{% url 'delete_record_sm' i.id %}">Delete </a>-->
<!--									</td>-->
									<td>{{i.quality_result}}
										<a class="btn bg-maroon" href="{% url 'view_qa_qc_small' i.id %}">View </a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot class="bg-black">
								<tr>
									<th>Id</th>
									<th>Patient name</th>
									<th>Gender</th>
									<th>Father name</th>
									<th>Patient Aadhar No.</th>
									<th>Date created</th>
									<th>View profile</th>
									<th>Edit profile</th>
									<th>View</th>
									<th>Update</th>
<!--									<th>Delete</th>-->
									<th>QC result</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
{% endblock %}